<h1><%= @user.username %></h1>
<%= image_tag @user.img_url %>
<p><%= @user.bio %></p>


<h2>My Recipes</h2>
<ul>
<% @user.recipes.each do |recipe| %>
  <li>
  <%= link_to recipe.name, recipe %>
  </li>
<% end %>
</ul>