  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: 'search-params form-control' %>
    <span class="input-group-btn">
      <a class="btn btn-default btn" id="search-btn">Search</a>
    </span>
  </div>
