<div id="index_filter">
  <span><b>Sort By:</b></span>


  <div class="btn-group sort-by" role="group" aria-label="...">
    <button type="button" class="btn btn-default date"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Date Added</button>
    <button type="button" class="btn btn-default difficulty"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Difficulty</button>
    <button type="button" class="btn btn-default servings"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Servings</button>
  </div>
</div>
<div id="index_recipes" class="row">
  <%= render "print_recipes" %>
</div>
