
<h2>Recipes</h2>
<div id="index_filter">
  <div id="filters">
     <div class="difficulty">
      <label for="difficulty">Max Difficulty:</label>
      <input type="text" id="difficulty" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <div id="difficulty-slider-range"></div>
    </div>
    <div class="servings">
      <label for="servings">Serves:</label>
      <input type="text" id="servings" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <div id="servings-slider-range"></div>
    </div>
  </div>

  <span><b>Sort By:</b></span>
  <div class="btn-group sort-by" role="group" aria-label="...">
    <button type="button" class="btn btn-default date"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Date Added</button>
    <button type="button" class="btn btn-default difficulty"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Difficulty</button>
    <button type="button" class="btn btn-default servings"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Servings</button>
  </div>
</div>

<div id="index_recipes" class="row">
  <%= render "print_recipes" %>
</div>
