<script>
  function get_filter_params() {
    var difficulty_val = $("#difficulty").val();
    var servings_val = $("#servings").val();

    return { difficulty: difficulty_val, servings: servings_val }
  }

  $(function() {
    $( "#difficulty-slider-range" ).slider({
      range: "min",
      min: 1,
      max: 5,
      value: 5,
      slide: function( event, ui ) {
        $( "#difficulty" ).val( ui.value );
        
        $.ajax({
          method: "GET",
          url: "/recipe/filter",
          data: get_filter_params()
        }).done(function( data ) {
          $("#index_recipes").empty();
          $("#index_recipes").append(data);
        });
      }
    });


    $( "#servings-slider-range" ).slider({
      range: "min",
      min: 1,
      max: <%= @max_servings %>,
      value: <%= @max_servings %>,
      slide: function( event, ui ) {
        $( "#servings" ).val( ui.value );
        
        $.ajax({
          method: "GET",
          url: "/recipe/filter",
          data: get_filter_params()
        }).done(function( data ) {
          $("#index_recipes").empty();
          $("#index_recipes").append(data);
        });
      }
    });

    $( "#servings" ).val( $( "#servings-slider-range" ).slider( "value" ) );
  });
</script>

<h2>Recipes</h2>
<div id="index_filter">
  <div id="filters">
     <div class="difficulty">
      <label for="difficulty">Max Difficulty:</label>
      <input type="text" id="difficulty" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <div id="difficulty-slider-range"></div>
    </div>
    <div class="servings">
      <label for="servings">Serves:</label>
      <input type="text" id="servings" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <div id="servings-slider-range"></div>
    </div>
  </div>
  
  <span><b>Sort By:</b></span>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Date Added</button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Difficulty</button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Servings</button>
  </div>
</div>

<div id="index_recipes" class="row">
  <%= render "print_recipes" %>
</div>