<div id="index-filter" class="well">
  <span class="header">Sort By:</span>


  <div class="btn-group sort-by" role="group" aria-label="...">
    <button type="button" class="btn btn-default date"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Date Added</button>
    <button type="button" class="btn btn-default difficulty"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Difficulty</button>
    <button type="button" class="btn btn-default servings"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Servings</button>
    <button type="button" class="btn btn-default popularity"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Popularity</button>
  </div>
</div>

<div id="index-recipes" class="row">
  <%= render "home/print_recipes" %>
</div>
