<style>
.glass {
    margin: 30px auto;
    height: 300px;
    width: 150px;
    position: relative;
    border-style: none solid solid solid;
    border-width: 10px;
    border-color: lightgray;
    border-radius: 10px;
}

.water {
    width: 100%;
    height: 95%;
    
    position: absolute;
    bottom: 0;
}

.water div div {
  text-align:center;
  
  color: white;
  
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
</style>

<%#= render 'age_gate' %>

<div id="index-filter" class="well">
  <div id="sort" class="col-lg-6">
  <span class="header">Sort By:</span>


  <div class="btn-group sort-by" role="group">
    <button type="button" class="btn btn-default date"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Date Added</button>
    <button type="button" class="btn btn-default difficulty"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Difficulty</button>
    <button type="button" class="btn btn-default servings"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Servings</button>
    <button type="button" class="btn btn-default popularity"><span class="glyphicon glyphicon-sort-by-attributes"></span>  Popularity</button>
  </div>
</div>
  <div id="search" class="col-lg-6">
    <%= render 'search_bar'%>
  </div>
</div>

<div id="index-recipes" class="row">
  <% @recipes.each do |recipe| %>
      <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: recipe} %>
  <% end %>
</div>
