// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TEASER CARDS
.recipe.teaser {
  .item {
    border: 1px solid #efefef;
    padding: 1em;
    margin-bottom: 3em;
    box-shadow: 1px 1px 3px #eee
  }

  .thumbnail {
    border: none;
    background-size: cover;
    background-position: 50%;
  }
  .thumbnail img {
    display: none;
  }

  .caption h3{
    text-align: center;
  }

div.caption span.description {
  text-align: center;
  width: 100%;
  display:block;
}
  .index_description{
    min-height:120px;
  }

  .author {
    text-align: left;
    padding-left: 0;
  }
  .author span {
    vertical-align: top;
  }
  .author .profile-img {
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
  }
  .meta  {
    text-align: right;
    padding-right: 0;
  }
  .meta .reviews {
      padding-right: .65em;
  }

  .glyphicon {
    padding-right: .35em;
  }

  .glyphicon.red-heart {
    color: red !important;
  }
  .favorites-message {
  display: none;
  }
  .favorites a {
  text-decoration: none;
  }


  footer {
    clear: both;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}

// SHOW PAGES
.recipe.show {
  .page-header {
  position: relative;
  }
  .author .profile-img {
    height: 2em;
    width: 2em;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    padding-right: .35em;
    vertical-align: bottom;
  }
  h3.description {
    line-height: 1.5em;
    margin: 1.5em 0;
  }

  .author h4 {
    display: inline-block;
    margin: 0;
  }
  .item-img {
  text-align: center;
  }
  .item-img img {
    max-width: 100%;
    height: auto;
  }
  .item-edit {
    position: absolute;
    top: 0;
    right: 0;
  }
  .meta {
    position: absolute;
    right: -10px;
    bottom: 0.5em;
  }
  .meta .favorites, .meta .comments {
    display: inline-block;
    margin-right: 1em;
  }
  .meta .comments {
    vertical-align: top;
  }
  .meta .glyphicon {
    padding-right: .35em;
  }
  .glyphicon.red-heart {
    color: red !important;
  }
  .favorites-message {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 100;
    justify-content: center;
  }
  .favorites-message span {
    align-self: center;
    padding: 2em;
    background: #efefef;
    border-radius: 5%;
    box-shadow: 2px 2px 3px #eee;
    opacity: .95;
    border: 2px solid #000;
    font-family: oswald;
    font-weight: 400;
    font-size: 1.5em;
  }

  .rec-meta {
    display:inline-block;
    padding-right: 3em;
    vertical-align: top;
  }
  .ingredients {
    margin-top: .5em;
    display:inline-block;
    line-height: 1.75em;
  }
  .directions {
    margin: 2em 0;
  }
  .item-comments {
    margin-top: 5em;
  }
  h3.header {
    margin-left: 0;
    margin-right:0;
  }
  .review-comment .content {
    padding-left: 2.35em;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  #reviews .review {
  margin: 2em 0.5em;
  }
}

// NEW AND EDIT FORMS

.blank-amount-ingredient-field {
  display: none;
}

form .amounts-ingredients {
    clear: both;
    margin-left: -15px;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Tagging Basic Style */
.tagging {
  border: 1px solid #CCCCCC;
  cursor: text;
  font-size: 1em;
  height: auto;
  padding: 10px 10px 15px;
}

.tag {
  background: none repeat scroll 0 0 #EE7407;
  border-radius: 2px;
  color: white;
  cursor: default;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding: 4px 20px 4px 0;
  margin: 5px 10px 0 0;
}

.tag span {
  background: none repeat scroll 0 0 #D66806;
  border-radius: 2px 0 0 2px;
  margin-right: 5px;
  padding: 5px 10px 5px;
}

.tag .tag-i {
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  height: 0;
  line-height: 0.1em;
  position: absolute;
  right: 5px;
  top: 0.7em;
  text-align: center;
  width: 10px;
}

.tag .tag-i:hover {
  color: black;
  text-decoration: underline;
}

.type-zone {
  border: 0 none;
  height: auto;
  width: auto;
  min-width: 20px;
  display: inline-block;
}

.type-zone:focus {
  outline: none;
}

.glass {
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    margin-bottom: 18px;
    position: relative;
    border-style: none solid solid solid;
    border-width: 10px;
    border-color: lightgray;
    border-radius: 10px;
}

.water {
    width: 100%;
    height: 95%;
    
    position: absolute;
    bottom: 0;
}

.water div div {
  text-align:center;
  
  color: white;
  
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}