// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TEASER CARDS
.recipe.teaser {
  .item {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 3em;
  }

  .thumbnail {
    border: none;
  }

  .caption h3{
    text-align: center;
  }

  .index_description{
    min-height:120px;
  }

  .author {
    text-align: left;
    padding-left: 0;
  }

  .author .profile-sm {
    height: 1.5em;
    width: auto;
    margin-right: 10px;
  }
  .meta div {
    padding-right: 0;
    padding-left: 10px;
    text-align: right;
  }

  .meta .glyphicon {
    padding-right: 5px;
  }

  .glyphicon.red-heart {
    color: red !important;
  }
  .favorites-message {
  display: none;
  }

  footer {
    clear: both;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}

// SHOW PAGES
.recipe.show {
  
  .author img {
    height: 1.5em;
    padding-right: .35em;
  }

  .item-img {
  }
  .item-img img {
    width: 100%;
    height: auto;
  }  
  .meta .favorites, .meta .comments {
    display: inline-block;
    margin-right: 1em;
  }
  .meta .comments {
    vertical-align: top;
  } 
  .meta .glyphicon {
    padding-right: 5px;
  }
  .glyphicon.red-heart {
    color: red !important;
  }
}


// HOMEPAGE SEARCH BAR OPTIONS  

#index_filter {
  width: 100%;
  height: 65px;
  background-color: #ccc;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px 0px rgb(0,0,0);
}

#filters > div {
  float: left;
  margin-right: 30px;
  width: 12%;
}

#index_filter input[type="text"] {
  width: 2em;
  border: none;
  background-color: transparent;
}



// NEW AND EDIT FORMS

.blank-amount-ingredient-field {
  display: none;
}

form .amounts-ingredients {
    clear: both;
    margin-left: -15px;
    margin-top: 2em;
    margin-bottom: 2em;
}