// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SHOW PAGES
.user.show {
  .item-img img {
    width: 100%;
    height: auto;
  } 
    
  .item-related {
    padding: 3em 0;
  }
  
  .item-related, 
  .item-related .user-recipes,
  .item-related .user-favorites {
    clear: both;
  }
}
