// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SHOW PAGES
.user.show {
  .item-body {
    margin-top: 3em;
  }
  .item-img {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    margin: 0px 3em 3em 0px;
    display: inline-block;
  } 
  .recipe-count {
    margin-right: .5em;
  }  
  .page-header .header {
    display: inline-block;
    vertical-align: top;
  }
  h3.bio {
    margin: .75em 0;
  }
  .item-related {
    padding: 3em 0;
  }
  
  .item-related, 
  .item-related .user-recipes,
  .item-related .user-favorites {
    clear: both;
  }
}
