<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to 'Cocktail Cabinet', root_path, class: 'navbar-brand' %>
    <% if current_user %>
      <a href= '/logout' type="button" class="btn btn-default navbar-btn">Sign out</a>
      <%= link_to user_path(current_user) do %>
          <div type="button" class="btn btn-default navbar-btn"><%= current_user.first_name %><%= image_tag current_user.img_url, class: 'profile_img' %></div>

      <% end  %>

      <% else %>
      <a href= '/login' type="button" class="btn btn-default navbar-btn">Sign in</a>
      <a href= '/users/new' type="button" class="btn btn-default navbar-btn">Sign Up</a>
    <% end  %>
  </div>
</nav>
